<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Favorite Quotes</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/styles.css') }}"
    />
  </head>
  <body>
    <nav>
      <a href="{{ url_for('quotes') }}">Add a quote</a>
    </nav>
    <br />
    <div class="container">
      <div class="jumbotron">
        <h1>Favorite Quotes</h1>
      </div>
      {% for r in result %}
      <div class="author">
        <h1>{{ r.author }}</h1>
      </div>
      <div class="quote">
        <p>{{ r.quote }}</p>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
