body {
  background-color: #f6f1d1;
}

.jumbotron {
  color: #fff;
  background-color: orange;
}

.author {
  color: #fff;
  background-color: blue;
}

.quote {
  color: #fff;
  font-size: 28px;
  background-color: green;
}

nav {
  margin-top: 25px;
  margin-left: 45px;
}

a {
  color: green;
}
